*{
    margin: 0;
    padding:0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box; 
}
body{
    background-color: #c9d5cf;
    color: #3e5251;
}
.header{
   display: flex;
   justify-content: center;
    height: 60px;
    align-items: center;
}
.heading{
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
}
.services{
    font-size: 35px;
    font-weight: 500; 
    text-decoration: none;
    margin: 15px;
}
.all_card{
   /* display: grid;
   grid-template-columns: repeat(autfill, minmax(250px, 1fr)); */
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.card{
    max-width: 16rem;
    border: 2px solid black;
    overflow: hidden;
    padding: 5px;
    margin: 15px;
}
.card:hover{
    -webkit-box-shadow: 7px 10px 28px -3px rgba(62,82,81,1);
-moz-box-shadow: 7px 10px 28px -3px rgba(62,82,81,1);
box-shadow: 7px 10px 28px -3px rgba(62,82,81,1);
}
.card_img{
    height: 210px;
    width: 240px;
}
.card-title{
    font-size: 18px;
    color: #3e5251;
}
footer{
    background-color:#b7cac1 ;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.info1{
    margin: 5px;
}
.f_heading1{
    font-size: 18px;
}
.f_heading2{
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.para{
    font-size: 18px;
}
.info2{
    margin: 5px;
    margin-right: 10px;
    
}
.fa {
    padding: 5px;
    font-size: 30px;
    height: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram{
    background-color: rgb(181, 65, 23);
    color: white;
  }

.last_line{
    margin:5px 0px;
    background-color: #91aa9f;
}
.copyright{
    display: flex;
    justify-content: center;
}